<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<Header>Header</Header>
  
<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
    
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-dollar"></i></span>
            <input type="text" pInputText placeholder="Price">   
            <span class="ui-inputgroup-addon">.00</span>      
        </div>
    </div>
            
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
            <input type="text" pInputText placeholder="Website">      
        </div>
    </div>
</div>

<p-dialog header="Title" [(visible)]="display">
  Content
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button>
</div>

